* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.main {
    display: flex;
    justify-content: center;
}

.products {
    display: flex;
}

.header-button {
    display: flex;
    justify-content: center;
}

.btn-cart {
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 5px;
}

.btn-cart:hover {
    background-color: aqua;
}

.by-btn {
    margin-top: 10px;
    padding: 5px;
    margin-right: 10px;
    background-color: aquamarine;
    border-radius: 5px;
}

.by-btn:hover {
    background-color: aqua;
}

.product-item {
   text-align: center;
}


