* {
	margin: 0;
	padding: 0;
}

.center {
	padding-left: calc(50% - 570px);
	padding-right: calc(50% - 570px);
}

.main {
	display: flex;
	justify-content: center;
}

.products {
	display: flex;
	flex-wrap: wrap;
}

.logo {
	font-weight: bold;
	font-size: 20px;
}

.header-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: solid 1px black;
	width: 1140px;
	height: 60px;
	margin-bottom: 30px;
	background-color: beige;
}

.btn-cart {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 10px;
	background-color: aquamarine;
	border-radius: 5px;
}

.btn-cart:hover {
	background-color: aqua;
}

.by-btn {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: aquamarine;
	border-radius: 5px;
}

.by-btn:hover {
	background-color: aqua;
}

.product-item {
	width: 250px;
	padding-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
	border: solid 1px black;
}

.product-title {
	margin-top: 80px;
}